{{ extends 'global/Page.html' }}
{{ block title }}Title{{ endblock }}

{{ block content }}

<h3>Classez les choix restants</h3>
<form method="post">
    
    {% if remaining_choices|length == 1 %}
        <p>Il ne reste qu'un choix : {{ remaining_choices.0 }}</p>
        <input type="hidden" name="CHOIX_21" value="{{ remaining_choices.0 }}">
    {% else %}
        <div>
            <label for="CHOIX_21">Premier choix :</label>
            <select id="CHOIX_21" name="CHOIX_21" required>
                <option value="">-- Sélectionnez --</option>
                {% for choice in remaining_choices %}
                <option value="{{ choice }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="CHOIX_22">Deuxième choix :</label>
            <select id="CHOIX_22" name="CHOIX_22" required>
                <option value="">-- Sélectionnez --</option>
                {% for choice in remaining_choices %}
                <option value="{{ choice }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    <button type="submit">Valider</button>
</form>

{{ next_button }}

{{ endblock }}
