{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}
<style>

  #top-left, #top-right {
    position: fixed;
    top: 20px;
    padding: 12px 18px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 16px;
    z-index: 1000;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  #top-left {
    left: 20px;
    text-align: left;
  }

  #top-right {
    right: 20px;
    text-align: right;
  }

  .score-value {
    color: #ffcc00;
    margin-left: 6px;
    font-size: 20px;
    font-weight: bold;
  }

  h2.page-header {
  padding-top: 100px !important;
}

  @keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

  .score-value.updated {
    animation: pop 0.3s ease-out;
  }
</style>

{% endblock %}

{% block global_scripts  %}
{% endblock %}
